.boxOpen {
  width: 800px;
  background-color: white;
  border: 2px solid rgb(184, 184, 184);
  margin-top: 10px;
  border-radius: 12px;
  overflow: hidden;
}

.boxClosed {
  width: 800px;
  height: 100px;
  background-color: rgb(244, 247, 250);
  border: 2px solid rgb(184, 184, 184);
  margin-top: 10px;
  border-radius: 12px;
}

.topBox {
  width: 100%;
  height: 100px;
  background-color: rgb(244, 247, 250);
  border-bottom: 2px solid rgb(184, 184, 184);
}

.downArrow {
  width: 30px;
  display: table;
  margin: 0 auto;
  cursor: pointer;
  margin-top: -5px;
}

.upArrow {
  width: 30px;
  display: table;
  margin: 0 auto;
  margin-bottom: 5px;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.buttons {
  width: 340px;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.editButtonOpen {
  width: 160px;
  height: 36px;
  border-radius: 8px;
  border-width: 2px;
  border-color: #59afdd;
  background-color: #59afdd;
  color: white;
  border-style: solid;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  font-family: "Lato";
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 20px;
}

.editButtonOpen:hover {
  cursor: pointer;
  background-color: #2c86b6;
  border-color: #2c86b6;
}

.editButtonCancel {
  width: 20px;
  height: 20px;
  background-color: yellow;
}

.deleteButton {
  width: 160px;
  height: 36px;
  border-radius: 8px;
  border-width: 2px;
  border-color: rgb(225, 31, 147);
  color: rgb(225, 31, 147);
  border-style: solid;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  font-family: "Lato";
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.deleteButton:hover {
  cursor: pointer;
  background-color: rgb(225, 31, 147);
  color: white;
}

.deleteButtonLoading {
  width: 160px;
  height: 36px;
  border-radius: 8px;
  border-width: 2px;
  border-color: rgb(225, 31, 147);
  background-color:rgb(225, 31, 147);
  color: rgb(225, 31, 147);
  border-style: solid;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  font-family: "Lato";
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.cancelButton {
  width: 160px;
  height: 36px;
  border-radius: 8px;
  border-width: 2px;
  border-color: #6d6d6d;
  color: #6d6d6d;
  border-style: solid;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  font-family: "Lato";
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.cancelButton:hover {
  cursor: pointer;
  background-color:#6d6d6d;
  color: white;
}

.title {
  color: #6d6d6d;
  font-family: "Lato";
  font-size: 23px;
  font-weight: 700;
  padding-top: 23px;
  margin-left: 35px;
}

.inventory {
  color: #969696;
  font-family: "Lato";
  font-size: 17px;
  font-weight: 400;
  margin-left: 35px;
}

.head {
  color: #6d6d6d;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 600;
  padding-top: 28px;
  margin-left: 35px;
}

.data {
  color: #969696;
  font-family: "Lato";
  font-size: 17px;
  font-weight: 400;
  margin-left: 35px;
  margin-right: 35px;
}

.inputBox {
  width: 170px;
  height: 30px;
  color: #6d6d6d;
  font-family: "Lato";
  font-size: 17px;
  font-weight: 400;
  margin-left: 35px;
  margin-right: 35px;
  padding-left: 9px;

  border-radius: 5px;
  border-width: 1px;
  border-color: #969696;
  border-style: solid;
}

.inputBox:focus {
  border-width: 2px;
  border-color: rgb(54, 117, 234);
  outline: none;
  margin-left: 34px;
  margin-bottom: -1px;
}

.descriptionInputBox {
  width: 710px;
  height: 170px;
  color: #6d6d6d;
  font-family: "Lato";
  font-size: 17px;
  font-weight: 400;
  margin-left: 35px;
  margin-top: 6px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #969696;
  border-style: solid;
  resize: none;
  margin-bottom: -5px;
}

.descriptionInputBox:focus {
  border-width: 2px;
  border-color: rgb(54, 117, 234);
  outline: none;
  margin-left: 34px;
  padding-top: 4px;
  margin-bottom: -6px;
}


.loader {
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  border-top: 2px solid rgb(255, 255, 255);
  width: 20px;
  height: 20px;
  -webkit-animation: spin .8s linear infinite;
  -moz-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
  margin-top: 6px;
  margin-left: 67px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
