.page {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.buffer {
  margin-bottom: 100px;
}

.title {
  font-family: "KoolBean";
  font-size: 60px;
  font-weight: 600;
  color: rgb(87, 87, 87);
  margin-top: 10vh;
  margin-bottom: 20px;
}
