
.filterBox {
  width: 784px;
  height: 36px;
  color: #6d6d6d;
  font-family: "Lato";
  font-size: 17px;
  font-weight: 400;
  padding-left: 18px;
  padding-bottom: 3px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #969696;
  border-style: solid;
}

.filterBox:focus {
  outline: none;
  color: #6d6d6d;
}

.magnify {
  width: 20px;
  margin-left: 14px;
  padding-top: 11px;
  position: absolute;

}

::placeholder {
  color: #969696;
}

input:focus::-webkit-input-placeholder {
    color: #c1c1c1;
}

input:focus:-moz-placeholder {
    color: #c1c1c1;
}

input:focus::-moz-placeholder {
    color: #c1c1c1;
}

input:focus:-ms-input-placeholder {
    color: #c1c1c1;
}

.loader {
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  border-top: 2px solid rgb(205, 205, 205);
  width: 20px;
  height: 20px;
  -webkit-animation: spin .8s linear infinite;
  -moz-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
  margin-top: -33px;
  margin-left: 770px;
  position: absolute;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

