.loader {
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  border-top: 2px solid rgb(147, 147, 147);
  width: 80px;
  height: 80px;
  -webkit-animation: spin .8s linear infinite;
  -moz-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
  margin-top: 90px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
